{% extends "base.html" %}
{% block bundles %}
	<script src="{{ url_for('static', filename='js/item.js' ) }}"></script>
{% endblock %}
{% block content %}
	<div id="log"></div>
	
	<div id="addItem">
		<button id="addItemButton" class="btn btn-default">+</button>
		<form id="addItemForm" name="addItemForm" role="form" style="display: none;">
			<div class="form-group">
				{{form.item_name.label}}
				<input type="text" required="required" class="form-control"  id="addItemName" name="{{form.item_name.name}}" placeholder="Enter item name">
				<div id="addItemFormError"><p></p></div>
			</div>
			<button id="addItemFormSubmit" type="button" class="btn btn-default">Add Item</button>
			<button id="addItemFormCancel" type="button" class="btn btn-default">Cancel</button>
		</form>
	</div>
	<ul id="itemList" class="list-group">
	{% for item in query_list.items | reverse %}
		<li id="{{item.id}}" class="list-group-item">
			<form class="editItemForm" style="display: none;">
				<div class="form-group">
					{{form.item_name.label}}
					<input type="text" required="required" class="editItemName form-control" name="{{form.item_name.name}}" placeholder="Enter new item name">
					<div class="editItemFormError"><p></p></div>
				</div>
				<button class="editItemFormSubmit btn btn-default" type="button">C</button>
				<button class="editItemFormCancel btn btn-default" type="button">X</button>
			</form>
			<div class="deleteItemConfirmationButtons" style="display: none;">
				<button class="deleteItemYes btn btn-default">C</button>
				<button class="deleteItemNo btn btn-default">X</button>
				<div class="deleteItemError"><p></p></div>
			</div>
			<button class="checkItemButton btn {% if item.check %}btn-success{% else %}btn-default{% endif %}">C</button>
			<button class="editItemButton btn btn-default">E</button>
			<button class="deleteItemButton btn btn-default">D</button>
			<p>{{item.item_name}}</p>
		</li>
	{% endfor %}
	</ul>
{% endblock %}